<div id="wrapper">
  <%- include ('./partials/sidebar') %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" id="main">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default outer">
                <div class="panel-heading headerbar">
                  <h2 class="text-center">Appointments</h2>
                </div>
                <div class="panel-body text-justify">
                <div class="row">
                  <div class="col-md-8">
                  <a href="/dashboard/Add-appointment" title="Add a New Player">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg btn-block"
                    >
                      Add Appointment
                    </button></a
                  >
                </div>
                <div class="col-md-4">
                <a href="/update-appointment" title="Add a New Player">
                    <button
                      type="button"
                      class="btn btn-success btn-lg"
                    >
                      Update Appoint
                    </button></a
                  >
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
  <div class="table-wrapper">
      <% if (appointment.length > 0) {%>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Patient Name</th>
                      <th scope="col">Patient User Name</th>
                      <th scope="col">Doctor Name</th>
                      <th scope="col">Doctor User Name</th>
                      <th scope="col">Date</th>                      
                  </tr>
              </thead>
              <tbody>
                  <% appointment.forEach((appoint, index) => { %>
                      <tr>
                          <th scope="row"><%= appoint.a_id %></th>
                          <td><%= appoint.p_name %></td>
                          <td><%= appoint.p_username %></td>
                          <td><%= appoint.doctor %></td>
                          <td><%= appoint.d_username %></td>
                          <td><%= appoint.date %></td>
                          <td>
                              <a href="/editAppointment/<%= appoint.p_username %>" target="" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                              <a href="/deleteAppointment/<%= appoint.p_username %>" class="btn btn-sm btn-danger">Delete</a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
          </table>
      <% } else { %>
          <p class="text-center">No Appointment found. Go <a href="/dashboard/Add-appointment" >here</a> to add Appointment.</p>
      <% } %>
  </div>
</div>
