<div id="wrapper">
  <%- include ('./partials/sidebar') %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row" id="main">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default outer">
                <div class="panel-heading headerbar">
                  <h2 class="text-center">Pharmacy</h2>
                </div>
                <div class="panel-body text-justify">
                  <a href="/dashboard/Add-medicine" title="Add a New Player">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg btn-block"
                    >
                      Add a Medicine
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
  <div class="table-wrapper">
    <% if (medicines.length > 0) {%>
    <table class="table table-hovered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Medicine Name</th>
          <th scope="col">Vendor User Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Branch</th>
        </tr>
      </thead>
      <tbody>
        <% medicines.forEach((medicine, index) => { %>
        <tr>
          <th scope="row"><%= medicine.m_id %></th>
          <td><%= medicine.m_name %></td>
          <td><%= medicine.v_username %></td>
          <td><%= medicine.quantity %></td>
          <td><%= medicine.branch %></td>
          <td>
            <a
              href="/editMedicine/<%= medicine.v_username %>"
              target=""
              rel="noopener"
              class="btn btn-sm btn-success"
              >Edit</a
            >
            <a
              href="/deleteMedicine/<%= medicine.v_username %>"
              class="btn btn-sm btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p class="text-center">
      No medicines found. Go <a href="/dashboard/Add-medicines">here</a> to add
      medicines.
    </p>
    <% } %>
  </div>
</div>
